<div class="card">
  <img class="img" [src]="product().image" [alt]="product().name" />

  <div class="body">
    <h3 class="title">{{ product().name }}</h3>
    <p class="desc">{{ product().description }}</p>

    <div class="meta">
      <span class="price">{{ product().price }} ₸</span>
      <span class="rating">⭐ {{ product().rating }}</span>
      <span class="likes">❤ {{ product().likes }}</span>
    </div>

    <div class="actions">
      <a class="btn" [href]="product().link" target="_blank">Open</a>

      <button class="btn like" (click)="like()">Like</button>
      <button class="btn del" (click)="onDelete()">Delete</button>

      <button class="btn" (click)="shareWhatsApp()">WhatsApp</button>
      <button class="btn" (click)="shareTelegram()">Telegram</button>
    </div>
  </div>
</div>