<div class="layout">
  <aside class="sidebar">
    <h2 class="logo">Online Store</h2>

    <div class="cats">
      @for (c of categories; track c.id) {
        <button
          class="cat"
          [class.active]="selectedCategoryId === c.id"
          (click)="selectCategory(c.id)"
        >
          {{ c.name }}
        </button>
      }
    </div>
  </aside>

  <main class="content">
    @if (selectedCategoryId === null) {
      <div class="welcome">
        Выбери категорию, чтобы увидеть товары
      </div>
    } @else {
      <app-product-list [products]="selectedProducts"></app-product-list>
    }
  </main>
</div>