*{
	margin: 0 px;
	box-sizing: border-box;
}
body{
	background: #F5F3F3;
}
.main {
	align-items: right;
}
.facebook{
	position: absolute;
	top:180px;
	left: 250px;
}
.photo{
	width: 400px;
	height: 300px;
	position: absolute;
	box-align: left;
}
.underword{
	margin-top:150px ;
	margin-left: 30px;

}
.loginbox{
	margin-top: 150px;
	margin-left: 800px;
	padding: 20px;
	background: white;
	width: 396px;
	height: 348.83px;
}